
*{
  margin: 0px;
  padding: 0px;
}
.flex{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

/* @media screen and (max-width: 800px) {
  .flex_column1 {width: 50%;}
  .flex_column2 {width: 50%;}
} */
  .flex_column1, .flex_column2{
      position: relative;
      width: 50%;
      height: 100vh;
      @media screen and (max-width: 800px) {
        width: 100%;
        height: 50vh;
      }
    }

      .flex_column1_video{
        position: relative;
        height: 100vh;
        width: 100vh;
        object-fit: cover;
        -webkit-object-fit:cover;
        @media screen and (max-width: 800px) {
          height: 50vh;
        }
      }
      .flex_column1_content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(to right, rgba(0,0,0,0.171), rgba(0,0,0,0.171));
        box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.65);
        background-color: rgba(0,0,0,0.322);
      }
      .flex_column1_content-text{
        padding: 20px;
        font-size:xx-large;
        color: rgb(255, 255, 255);
        font-weight: bolder;
      }
      .flex_column2_content{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: linear-gradient(to right, rgba(0,0,0,0.171), rgba(0,0,0,0.171));
        box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.65);
        background-color: rgba(0,0,0,0.322);
      }
      .flex_column2_content-text{
        padding: 20px;
        font-size:xx-large;
        color: rgb(255, 255, 255);
        font-weight: bolder;
      }
.link_from_front_page{
  text-decoration: none;
  color: aliceblue;
  font-size:xx-large;
}
.flex_column1_content:hover, .flex_column2_content:hover{
  background-color: beige;
}
.home{
  width: 100%;
  background-image: linear-gradient(to right, rgba(0,0,0,0.665), rgba(0,0,0,0.665)), url("images/main-page-img.jpg");
  background-size: cover;
  background-position: center center
}